URxvt*foreground: #00ff15
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0000/c800

! Urxvt fonts
URxvt*font:            xft:Ubuntu Mono derivative Powerline:size=12
URxvt*boldFont:        xft:Ubuntu Mono derivative Powerline::bold:size=12
URxvt*italicFont:      xft:Ubuntu Mono derivative Powerline::italic:size=12
URxvt*boldItalicFont:  xft:Ubuntu Mono derivative Powerline::bolditalic:size=12
URxvt.scrollstyle:plain

Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size: 8
